<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>delete ur account <%= email%></h1>

    <form action="/deleteme" method="POST">
      <input type="hidden" value="<%= email%>" name="email" />
      <button type="submit">delete me</button>
      <input type="hidden" name="_csrf" value="<%= csurfToken %>" />
    </form>
  </body>
</html>
