<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>result</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Hi <%= name %></h1>
    <h1>Hi <%= email %></h1>
    <!-- <form action="/logout?_method=DELETE" method="POST"> -->
    <form action="/logout" method="POST">
      <button type="submit">Log Out</button>
      <input type="hidden" name="_csrf" value="<%=csurfToken%>" />
    </form>
    <a href="/deleteme/<%= email %>">go to del section</a>
  </body>
</html>
