<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Login</h1>
    <% if (messages.error) { %> <%= messages.error %> <% } %>
    <form action="/login" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="hidden" value="<%= email%>" name="email" />
        <input type="hidden" value="<%= name%>" name="name" />
        <input type="text" id="email" name="email" value="default" />
      </div>
      <div>
        <label for="password">Password</label>

        <input type="text" id="password" name="password" value="default"/>
      </div>
      <button type="submit">Login</button>
      
      <input type="hidden" name="_csrf" value="<%=csurfToken%>" />

    </form>
    <a href="/register">Register</a>
    <a href="/reset">reset</a>
  </body>
</html>
