<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <h1>Reset Password</h1>
    <form action="/new-pass" method="POST">
      <label for="password">Password</label>

      <input type="text" id="password" name="password" />

      <button type="submit">change</button>
      <input type="hidden" name="passwordToken" value="<%=passwordToken%>" />

      <input type="hidden" name="_csrf" value="<%=csurfToken%>" />
    </form>
  </body>
</html>
