<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
    <link rel="stylesheet" href="/index.css" />

  </head>
  <body>
    <h1>Register</h1>
    <form action="/register" method="POST">
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name"  />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email"  />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password"  />
      </div>
      <button type="submit">Register</button>
      <input type="hidden" name="_csrf" value="<%= csurfToken %>">

    </form>
    <a href="/login">Login</a>
  </body>
</html>
