<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
    <link rel="stylesheet" href="/index.css" />

  </head>
  <body>
    <h1>reset password</h1>
    <form action="/reset" method="POST">
      
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email"  />
      </div>
      
      <button type="submit">reset</button>
      <input type="hidden" name="_csrf" value="<%= csurfToken %>">

    </form>
    
  </body>
</html>
