body{
    width: 50rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    background-color: red;
}
form{
    /* width: fit-content; */
    background-color: rgba(128, 128, 128, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    width: 50%;
    padding: 20px;
}
div{
    margin: 10px 0px 10px 0px;
}
button{
    /* background-color: transparent; */
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}